#navigation-menu {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.menu {
  position: absolute;
  width: 467px;
  height: 56px;
  right: 10vw;
  top: 30px;

  background: #2d0a31;
  border: 1px solid #ffffff;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu a {
  font-family: Nunito;
  font-style: normal;
  display: grid;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

#navigation-menu img {
  z-index: 9999;
}

#navigation-menu .site_menu {
  position: absolute;
  right: 47vw;
  top: 23px;
}

#navigation-menu .active {
  background-color: white;
  color: #2d0a31;
  font-weight: bold;
}
