#page-landing{
    height: 100vh;
    background-color: #2D0A31;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

#page-landing .background-top-detail{
    position: absolute;
    width: 266px;
    height: 227px;
    left: 0px;
    top: 0px;
}

#page-landing .background-bottom-detail{
    position: absolute;
    width: 369px;
    height: 171px;
    right: 0;
    bottom: 0;
}

#page-landing .content-wrapper{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: grid;
    grid-template-rows: 0fr 1fr;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#page-landing .content-wrapper main{
    max-width: 350px;
    bottom: 8vh;
}

#page-landing .content-wrapper .main-page-logo{
    position: relative;
}

#page-landing .content-wrapper .main-page-logo img{
    width: 100%;
}

#page-landing .content-wrapper h1{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    position: relative;
    left: 2vw;
}

#page-landing .content-wrapper p{
    position: relative;
    top: 6vh;
    left: 2vw;
    width: 430px;
    height: 75px;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

#page-landing .content-wrapper .green-dot{
    color: #77CC6D;
    font-size: 100px;
}

#page-landing .content-wrapper .home-developer{
    position: absolute;
    position: relative;
    left: 4vw;
}

#page-landing .home_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 98vh;
}

#page-landing .home_content .grid_column {
    width: 100%;
    height: auto;
    display: block;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#page-landing .home_content .grid_row{
    display: grid;
    grid-template-rows: 0fr 1fr;
    position: relative;
}