#page-landing{
    height: 100vh;
    background-color: #2D0A31;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .background-top-detail{
    position: absolute;
    width: 266px;
    height: 227px;
    left: 0px;
    top: 0px;
}

#page-landing .background-bottom-detail{
    position: absolute;
    width: 369px;
    height: 171px;
    right: 0;
    bottom: 0;
}

#page-landing .content-wrapper{

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

#page-landing .content-wrapper main{
    max-width: 350px;
    position: relative;
    right: 100px;
    bottom: 8vh;
}

#page-landing .content-wrapper main .main-page-logo{
    position: absolute;
    left: 4vw;
    top: 12vh
}

#page-landing .content-wrapper main h1{
    position: absolute;
    width: 470px;
    height: 205px;
    left: 4vw;
    top: 301px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 109px;
    color: #FFFFFF;
}

#page-landing .content-wrapper main p{
    position: absolute;
    width: 430px;
    height: 75px;
    left: 4vw;
    top: 560px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
}

#page-landing .content-wrapper main .green-dot{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 450px;
    top: 480px;
    background: #77CC6D;
}

#page-landing .content-wrapper main .home-developer{
    position: absolute;
    width: 30vw;
    left: 35vw;
    top: 18vh;
}