#page-landing{
    height: 100vh;
    background-color: #2D0A31;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

#page-landing .background-top-detail{
    position: absolute;
    width: 266px;
    height: 227px;
    left: 0px;
    top: 0px;
}

#page-landing .background-bottom-detail{
    position: absolute;
    width: 369px;
    height: 171px;
    right: 0;
    bottom: 0;
}

#page-landing .content-wrapper{

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

#page-landing .content-wrapper main{
    max-width: 350px;
    bottom: 8vh;
}

#page-landing .content-wrapper main .main-page-logo{
    position: relative;
    left: 12vw;
    top: 12vh;
}

#page-landing .content-wrapper main h1{
    position: relative;
    width: 5em;
    height: 205px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 109px;
    color: #FFFFFF;
    text-align: right;
}

#page-landing .content-wrapper main p{
    position: relative;
    width: 430px;
    height: 75px;
    left: 12vw;
    font-style: normal;
    font-weight: lighter;
    font-size: 38px;
    line-height: 33px;
    color: #FFFFFF;
}

#page-landing .content-wrapper main .green-dot{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #77CC6D;
    top: 10em;
    left: 1em;
}

#page-landing .content-wrapper main .home-developer{
    position: absolute;
    width: 30vw;
    right: 10vw;
    top: 15vh;
}

#page-landing .home_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98vw;
    position: absolute;
    height: 100vh;
    left: 0;
}

#page-landing .home_content .grid_column {
    width: 100%;
    height: auto;
    display: block;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#page-landing .home_content .grid_column .text_grid{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    position: relative;
    left: 10vw;
}